<table>
<% @products.each do |product| %>
	<tr>
		<td>Title</td>
		<td>Price</td>
		<td>Category</td>
	</tr>
	<tr>
		<td><%= link_to(product.title, product_path(product)) %></td>
		<td><%= product.price %></td>
		<td><%= product.category.title %></td>
	</tr>
<% end %>
</table>
<%= link_to('Create New', new_product_path) %>