<% @products.each do |p| %>
	<table>
		<tr>
			<td>Title</td>
			<td>Price</td>
			<td>Category</td>
		</tr>
	<%= render partial: 'product', locals: {product: p} %>
	</table>
<% end %>
<%= link_to('Create New', new_product_path) %>